
.img-logotipo{
    display: block;
    margin: 0px auto;
    padding-right: 20px;
    padding: 120px;
   }

.btn-esquecisenha {
    padding-top: 120px;
    background-color: blue;
}

.align-items-esquecisenha{
    padding-top: 16px;
}

.align-items-btnentrar{
    padding-top: 24px;
    position: relative;
}

.btn-entrar, .btn-facebook, .btn-google, .btn-apple, .btn-cadastrar {
    width: 418px;

}

.align-items-facebook {
    padding-top: 64px;
}

.align-items-google {
    padding-top: 16px;
}

.align-items-apple {
    padding-top: 16px;
}

.align-items-google {
    padding-top: 16px;
}

.btn-entrar {
    background-color: #36028D !important;
}

.btn-esquecisenha {
    color: #36028D !important;
}

.btn-facebook {
    background-color: #3B5997 !important;
}

.btn-google {
    background-color: #EA4335 !important;
}

.btn-apple {
    background-color: #2B2B2B !important;
}

.btn-cadastrar {
    color: #1F1F1F !important;
}

.recuperacao_mens {
    color: #36028D;
    font-size: 13pt;

}
